@tailwind base;
@tailwind components;
@tailwind utilities;

.pp {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.imgg {
  width: 50%;
}